# data
*.zip
*.csv
*.CSV
*.xlsx
mastefilelist.txt

# python stuff
*.ipynb_checkpoints
*.ipynb_checkpoints/
*__pycache__/
*.pyc
python/dist/
python/build/
python/bigforecast.egg-info/

# doc formats
# docs
*.pptx
*.docx


