# data
*.zip
*.csv
*.CSV
*.xlsx
mastefilelist.txt

# python stuff
*.ipynb_checkpoints
*.ipynb_checkpoints/
*__pycache__/
*.pyc
python/dist/
python/build/
python/bigforecast.egg-info/

# doc formats
# docs
*.pptx
*.docx

# Mac stuff
*.DS_Store
Demo/*.DS_Store
kafka/.DS_Store
sandbox/.DS_Store

*_build/

#GDELT Ingestion DB
*.sqlite3
